Uitgebreid antwoord:

```sql
CREATE TRIGGER SALARY
AFTER UPDATE OF sal ON EMP
REFERENCING
OLD ROW AS OldTuple
NEW ROW AS NewTuple
FOR EACH ROW
WHEN (NewTuple.sal > OldTuple.sal)
UPDATE Maxsal
SET val = NewTuple.sal
WHERE NewTuple.sal > val
```

Verkort antwoord:

```sql
CREATE TRIGGER SALARY
AFTER UPDATE OF sal ON EMP
REFERENCING 
OLD ROW AS OldTuple
NEW ROW AS NewTuple
FOR EACH ROW
WHEN (NewTuple.sal > OldTuple.sal AND NewTuple.sal > (SELECT val FROM Maxsal))
UPDATE Maxsal
SET val = NewTuple.sal
```

Ja het is mogelijk om een statement level trigger te gebruiken. Dit is in dit geval ook veel handiger en efficienter aangezien alleen de aangepaste tuple van toepassing is op het probleem.

```sql
CREATE TRIGGER SALARY
AFTER UPDATE OF sal ON EMP
FOR EACH STATEMENT
UPDATE Maxsal
SET val = (SELECT MAX(sal) FROM EMP);
```